.image{
    height: 350px;
    width: 250px;
    border-radius: 10px;
    border: yellow solid 3px;
}
.wrapSimp{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.name{
    height: 35px;
    border: yellow solid 1px;
    color: yellow;
    background: #464747;
    border-radius: 10px;
}
