.App {
  text-align: center;

}
.wrapSimp{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.wrapAllRick{
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.wrapRick{
  display: flex;
  justify-content: space-evenly;
}
.wrapCharacter{
  display: flex;
  flex-wrap: wrap;
}



